@{
    ViewData["Title"] = "联系我";
}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>联系我</legend>
</fieldset>

<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="150">
        <col width="150">
    </colgroup>
    <tbody>
        <tr>
            <td>QQ:</td>
            <td>86167612</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>E-mail:</td>
            <td>86167612@qq.com</td>
        </tr>
    </tbody>
</table>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>当前网站</legend>
</fieldset>

<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="150">
        <col width="150">
    </colgroup>
    <tbody>
        <tr>
            <td>前端:</td>
            <td>LayUI</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>后端:</td>
            <td>NetCore 3.1</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>当前部署系统:</td>
            <td>Centos 7</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>当前部署环境:</td>
            <td>Docker + Nginx</td>
        </tr>
    </tbody>
</table>
